HUAWEI_IAM_DOMAIN=enter_your_domain_here
HUAWEI_IAM_USERNAME=enter_your_username
HUAWEI_IAM_PASSWORD=enter_your_password
HUAWEI_PROJECT_ID=enter_your_project_id

HUAWEI_MODELARTS_ENDPOINT=https://modelarts-infer.region.myhuaweicloud.com/v1/your-service-id/sync
HUAWEI_MAP_API_KEY=enter_your_huawei_map_kit_api_key_here
